* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  text-align: center;
  margin-top: 1%;
}
.navContainer {
  background-color: #57a8cc !important;
  padding: 1rem !important;
  color: white !important;
}
.navbar-toggler {
  color: white !important;
}
.navbar-toggler-icon {
  color: white !important;
}
